.navbar-expand-lg{
    background-color: #80d4ff;
}

#topSpacing{
    margin-bottom: 5%;
}

#searchTable{
    width: 50%;
}

.form-group{
    width: 50%;
}

#displayTable{
    width: 50%;
    border-style: inset;
    border-color: grey;
}

td{
    border-radius: 6px 0px 0px 0px;
}

.btn{
    cursor: pointer;
}

.radioGroup{
    margin: 2em;
}

#titleRow{
    background-color: #f1e6c0;
    border-radius: 100px;
}
#topRightRowCell{
    border-style: none;
}
td{
    font-size: 2em;
    border-style: hidden;
}
tr{
    background-color: beige;
}
#tableTitle{
    font-size: 1em;
}

#titleText{
    margin-bottom: 2em;
}