.navbar-expand-lg{
    background-color: #80d4ff;
}

#topSpacing{
    margin-bottom: 5%;
}

#searchTable{
    align-content: center;
}

.form-group{
    width: inherit;
}

#displayTable{
    width: 75%;
    border-style: inset;
    border-color: grey;
    margin-top: 2em;
    color: black;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.btn{
    cursor: pointer;
}

.radioGroup{
    margin: 2em;
}

#titleRow{
    /* background-color: #f1e6c0; */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    color: rgba(255, 255, 255, 0.75);
}
#topRightRowCell{
    border-style: none;
}
td{
    border-radius: 6px 0px 0px 0px;
    font-size: 2em;
    border-style: solid;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);
}
tr{
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);
} 

#topRowRightCell{
    border-style: solid solid solid hidden;
}
#tableTitle{
    font-size: 1em;
}

#titleText{
    margin-bottom: 2em;
}

/* Style the video: 100% width and height to cover the entire window */
#rainVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: 20px;
  }
  
  h4{
      font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
      font-size: 4em;
      color: rgba(120, 247, 152, 0.5);
      margin-bottom: 1em;
  }